<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings>
    <add name="AdContext" providerName="System.Data.SqlClient"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\AdDB.mdf';Integrated Security=True" />
</connectionStrings>

</configuration>